@import 'reveal_mixins';
@import 'reveal_settings';
@import url('/node_modules/reveal.js/dist/theme/fonts/source-sans-pro/source-sans-pro.css');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Titan+One&family=Cutive+Mono&family=Roboto:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

$childsafeGreen: #00bc70;
$childsafeBlue: #00b1e1;
$childsafeOrange: #f36c3f;
$childsafeWhite: #fffff9;
$childsafeDarkGray: #5b6670;
$childsafeGray: #cfd2d3;
$childsafeBlack: #232323;


// Override theme settings (see ../template/settings.scss)
$backgroundColor: $childsafeWhite;

$mainColor: $childsafeBlack;
$headingColor: $childsafeBlack;

//$mainFontSize: 38px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: $childsafeBlue;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

// $heading1Size: 2.3em;
// $heading2Size: 2.3em;
// $heading3Size: 1.9em;
// $heading4Size: 1.0em;

@import 'reveal_base';

html {
  @apply text-xs sm:text-lg md:text-xl lg:text-xl xl:text-2xl 2xl:text-2xl;
}

.reveal .green {
    background-color: $childsafeGreen;
}

.reveal .blue {
    background-color: $childsafeBlue;
}

.reveal .orange {
    background-color: $childsafeOrange;
}

.reveal .black {
    background-color: $childsafeBlack;
}

.reveal .white {
    background-color: $childsafeWhite; 
}

.reveal .darkgray {
    background-color: $childsafeDarkGray;
}

.reveal .gray {
    background-color: $childsafeGray;
}

.reveal .progress {
    color: $childsafeBlue;
}

.reveal h1 {
    background: $childsafeGreen;
    color: #fff;
    @apply absolute inset-x-0 bottom-0 text-6xl;
    margin-bottom: 0;
}

.reveal img {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    @apply max-w-full;
}

.reveal .bio {
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
	background: rgba(255,255,255,0.9);
	border: 4px solid $mainColor;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal .headline {
    @apply align-middle
}

.reveal .chart, .reveal .network, .reveal .map, .reveal .timeline {
    margin: 0;
    height: 85%;
}

.fragment.chart, .fragment.network, .fragment.timeline {
    display: none;
}

.reveal .map {
    height: 90%;
}

.reveal .map img {
    max-height: none;
    max-width: none;
    box-shadow: none;
    border: none;
}

html.img-right div.slide-background.present {
  background-position: right center;
}

html.img-left div.slide-background.present {
  background-position: left center;
}

html.img-bottom div.slide-background.present {
  background-position: bottom;
}

html.img-top div.slide-background.present {
  background-position: top;
}

.animated {
  visibility: visible !important;
}

.visible {
  visibility: visible !important;
}

.masked {
  opacity: 0 !important;
}

.reveal .vis-timeline {
  font-family: $mainFont;
  font-size: 0.5em;
}

.vis-item {
  background-color: $childsafeGray;
  color: $backgroundColor;
}

.vis-item.vis-line, .vis-item.vis-dot {
  border-color: $childsafeGray;
}

.vis-item.vis-selected {
  background-color: $childsafeGreen;
  border-color: $childsafeGreen;
}

.reveal .timeline {
  height: 3em;
  margin-bottom: 1em;
}

.reveal ul, .reveal dl, .reveal ol {
  display: unset;
  margin: unset;
}

.opacity-ghost {
  @apply bg-blue text-white rounded;
}

.opacity-ghost svg {
  fill: white;
}

.selecteddeck {
  @apply pointer-events-none absolute inset-0 rounded-lg border-4 border-green;
}

.primary-button {
  @apply block text-center rounded-lg border border-transparent bg-green
  px-4 py-2 text-base leading-6 font-semibold text-white transition ease-in-out duration-150
  uppercase;
}

.primary-button:hover {
  @apply text-white bg-orange transition ease-in-out duration-150
}

.secondary-button {
  @apply block text-center rounded-lg border border-transparent bg-blue
  px-4 py-2 text-base leading-6 font-semibold text-white transition ease-in-out duration-150
  uppercase;
}

.secondary-button:hover {
  @apply text-white bg-orange transition ease-in-out duration-150;
}

.primary-button:active, .primary-button:focus, .secondary-button:active,
.secondary-button:focus {
  @apply border-none;
}

.slide-headline {
  font-family: 'Roboto', sans-serif;
  @apply text-6xl text-white tracking-tight uppercase #{!important};
}

.footer {
  font-family: 'Cutive Mono', monospace;
  @apply text-4xl text-white tracking-tighter text-shadow-sm shadow-black
  lowercase absolute inset-x-0 bottom-0 mb-4 ml-4 #{!important};
}

.slide-headline {
  font-family: 'Roboto', sans-serif;
  @apply text-6xl text-white tracking-tight uppercase #{!important};
}

.slide-headline-black {
  font-family: 'Roboto', sans-serif;
  @apply text-6xl text-black tracking-tight uppercase #{!important};
}

.outline-text {
  @apply text-shadow shadow-black #{!important};
}

a {
  @apply text-sky-600;
}

a:hover {
  @apply text-sky-400;
}
